.Calendar {
  display: inline-block;
  background-color: white;
  vertical-align: top;
  width: 75vw;
  max-width: 75vw;
  height: 100vh;
}

.rbc-calendar {
  padding: 15px;
}

.rbc-toolbar {
  overflow: scroll;
}

.rbc-btn-group button {
  max-width: 100px;
}

.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 0;
  flex: 1;
}

.rbc-toolbar .rbc-btn-group:last-child {
  justify-self: flex-end;
  flex: 1;
}