.Courses {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25vw;
  height: 100vh;
  background-color: #ffc947;
}
.course-name {
  margin-right: 5px;
}

.course-input {
  width: 90%;
  font-size: 20px;
  margin: 5px;
}
